@font-face {
	font-family: 'bnpiconfont';
	src:url('fonts/bnpiconfont.eot');
	src:url('fonts/bnpiconfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/bnpiconfont.woff') format('woff'),
		url('fonts/bnpiconfont.ttf') format('truetype'),
		url('fonts/bnpiconfont.svg#bnpiconfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="fontcon-"], [class*=" fontcon-"] {
	font-family: 'bnpiconfont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fontcon-extra:before {
	content: "\e600";
}
.fontcon-cards:before {
	content: "\e601";
}
.fontcon-hero-icon:before {
	content: "\e602";
}
.fontcon-savings-account:before {
	content: "\e603";
}
.fontcon-current-account:before {
	content: "\e604";
}
.fontcon-transaction-out:before {
	content: "\e605";
}
.fontcon-transaction-in:before {
	content: "\e606";
}
.fontcon-calendar:before {
	content: "\e607";
}
.fontcon-beneficiary:before {
	content: "\e608";
}
.fontcon-send-money-icon:before {
	content: "\e609";
}
.fontcon-circle-done:before {
	content: "\e60a";
}
.fontcon-contactus:before {
	content: "\e60b";
}
.fontcon-header-contactus:before {
	content: "\e60c";
}
.fontcon-faq:before {
	content: "\e60d";
}
.fontcon-menu-icon:before {
	content: "\e60e";
}
.fontcon-logout:before {
	content: "\e60f";
}
.fontcon-warning-active:before {
	content: "\e610";
}
.fontcon-m1:before {
	content: "\e611";
}
.fontcon-m2:before {
	content: "\e612";
}
.fontcon-ucr-ok:before {
	content: "\e613";
}
.fontcon-correct:before {
	content: "\e614";
}
.fontcon-close:before {
	content: "\e615";
}
.fontcon-search:before {
	content: "\e616";
}
.fontcon-download:before {
	content: "\e617";
}
.fontcon-print:before {
	content: "\e618";
}
.fontcon-pdf:before {
	content: "\e619";
}
.fontcon-csv:before {
	content: "\e61a";
}
.fontcon-refresh:before {
	content: "\e61b";
}
.fontcon-executed:before {
	content: "\e61c";
}
.fontcon-not-executed:before {
	content: "\e61d";
}
.fontcon-fav-default:before {
	content: "\e61e";
}
.fontcon-fav-select:after {
	content: "\e61f";
}
.fontcon-reload:before {
	content: "\e620";
}
.fontcon-add-benf:before {
	content: "\e621";
}
.fontcon-add:before {
	content: "\e622";
}
.fontcon-link-intern-teaser:before {
	content: "\e623";
}
.fontcon-timeout:before {
	content: "\e624";
}
.fontcon-information:before {
	content: "\e625";
}
.fontcon-information-active:before {
	content: "\e626";
}
.fontcon-attention:before {
	content: "\e627";
}
.fontcon-expire:before {
	content: "\e628";
}
.fontcon-expand:before {
	content: "\e629";
}
.fontcon-collapse:before {
	content: "\e62a";
}
.fontcon-calendar-arrow-right:before {
	content: "\e62b";
}
.fontcon-calendar-arrow-left:before {
	content: "\e62c";
}
.fontcon-arrow-right:before {
	content: "\e62d";
}
.fontcon-arrow-left:before {
	content: "\e62e";
}
.fontcon-facebook:before {
	content: "\e62f";
}
.fontcon-twitter:before {
	content: "\e630";
}
.fontcon-youtube:before {
	content: "\e631";
}
.fontcon-clock:before {
	content: "\e632";
}
.fontcon-emotion-unhappy:before {
	content: "\e633";
}
