.action_group {
 	width: $default-width;
	display: table;
}
.action_icons {
	 position:absolute;
	 right:30px;
	 top:0.31em;
	 display:none;
}
.action_icons__global {
	font-size: 1.25em;
	cursor: pointer;
	display: table-cell;
	padding:6px 0;
	span{
		border-left: 1px dotted #969696;
		padding:0 0.62em;
		
	}
	&.active{
		background:#ffffff;
	}
	&:first-child {
		span{
			border: none;
		}
	}
	&:last-child {
		span{
			padding-right:0;
		}
	}
}
.cards_transactions{
	.action_icons {
		top:20px;
	}
}

@media all and (max-width: 47.9375em) {
	.fontcon-print {
		display: none;
	}
	.action_icons {
		 right:0;
	}
}