/* Date Picker */
 .default_input__datePicker {
	height: 44px;
	padding: 11px 12px;
	overflow: hidden;
	border: 1px solid #d8dbde;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
}
 .date_picker input {
        width: 100%;
}
.date_picker .default_input_field {
	width: 50%;
	min-width: 18.75em;
}
/* Date picker UI will append to the WCM need to discuss regarding branding*/
.datepicker-dropdown.dropdown-menu {
	position: absolute;
	z-index: 1000;
	display: none;
	min-width: 160px;
	list-style: none;
	background-color: #ffffff;
	border: 1px solid #d8dbde;
	@include border-radius-all($glb-tleft-radius,$glb-tright-radius,$glb-bleft-radius,$glb-bright-radius);
}
.datepicker {
        top: 0;
        left: 0;
        width: 300px;
}
.datepicker-orient-top {
        margin-top: 20px;
}
.datepicker-orient-bottom {
        margin-top: -20px;
}
.datepicker > div {
        display: none;
}
.datepicker table {
        width: 100%;
        margin: 0;
        border-spacing: 0;
}
.datepicker table thead{
	@include border-radius-all($glb-tleft-radius,$glb-tright-radius,0,0);
}
.datepicker table thead tr:first-child{
	@include bg-color($bg-top,$bg-bottom);
	height:40px;
	
}
.datepicker table thead tr:first-child th {
        border: 0;
        padding: 8px 0;
        font-family: 'BnppSans-r', sans-serif;
        font-size: 16px;
}
.datepicker table thead tr th:first-child {
   @include border-radius-all($glb-tleft-radius,0,0,0);
}
.datepicker table thead tr th:last-child {
   @include border-radius-all(0,$glb-tright-radius,0,0);
}
.datepicker td {
        width: 40px;
        height: 40px;
        text-align: center;
        font-family: 'BnppSans-r', sans-serif;
        font-size: 16px;
		@include border-radius-all($glb-tleft-radius,$glb-tright-radius,$glb-bleft-radius,$glb-bright-radius);
}
.datepicker th {
        text-align: center;
        width: 20px;
        height: 20px;
        padding: 12px 0;
        font-family: 'bold', sans-serif;
        font-size: 14px;
}
.datepicker td.day:hover {
        background: #0080a6;
        cursor: pointer;
		color:#ffffff;
}
.datepicker td.day.disabled {
        color: #999;
}
.datepicker td.old, .datepicker td.new {
        background: #e5e9ef;
}
.datepicker td.active, .datepicker td.active:hover {
        color: #ffffff;
        background: #009e83;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 25%/100%);
}
.datepicker td.active:hover, .datepicker td.active:hover:hover, .datepicker td.active:focus, .datepicker td.active:hover:focus, .datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.active, .datepicker td.active:hover.active, .datepicker td.active.disabled, .datepicker td.active:hover.disabled, .datepicker td.active[disabled], .datepicker td.active:hover[disabled] {
        color: #ffffff;
        background-color: #0080a6;
 *background-color: #0080a6;
}
.datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.active, .datepicker td.active:hover.active {
        background-color: #0080a6 \9;
}
.datepicker td span {
	display: block;
	width: 47px;
	height: 54px;
	line-height: 54px;
	float: left;
	margin: 2px;
	cursor: pointer;
}
.datepicker td span:hover {
    background: #eeeeee;
}
.datepicker td span.active {
	color: #ffffff;
	background: #009e83;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 25%/100%);
}
.datepicker td span.active:hover, .datepicker td span.active:focus, .datepicker td span.active:active, .datepicker td span.active.active, .datepicker td span.active.disabled, .datepicker td span.active[disabled] {
	color: #ffffff;
	background-color: #0044cc;
 *background-color: #003bb3;
}
.datepicker td span.active:active, .datepicker td span.active.active {
    background-color: #003399 \9;
}
.datepicker td span.old {
        color: #999999;
}
.datepicker th.switch {
        width: 145px;
}
.datepicker th.next, .datepicker th.prev {
        font-size: 21px;
}
.datepicker thead tr:first-child th {
        cursor: pointer;
}
.datepicker thead tr:first-child tdr:first-child {
        border-top: 1px solid #d8dbde;
}
.input-append.date .add-on i, .input-prepend.date .add-on i {
        display: block;
        cursor: pointer;
        width: 16px;
        height: 16px;
}
.arrow_icon{ color:#ffffff}
.datepicker-switch{ color:#ffffff;}


// 767px breakpoint

@media all and (max-width: 47.9375em) {
 	.date_picker .default_input_field {
        width: 100% !important;
    }

    .date_picker .default_input_field > input {
        width: 100%;
    }
}

