$default-width:100%;
$default-height:100%;
$content-width:80%;
$height-half:50%;
$width-half:50%;
$info-width:45.62em;
$ele-height:44px;

$error-clr: #e53012;
$indicator-clr-icon: #e53012;
$error-clr-bg: #e53012;


$white-clr:'#ffffff';
$white-clr-hover:'#ffffff';
$white-clr-primary:'#ffffff';
$white-clr-icon:'#ffffff';
$white-bg:'#ffffff';
$zones-bg:'#ffffff';
$xopus-bg:'#ffffff';
$foreign-currency-bg:'#ffffff';

$h-services-bg:#009966;
$h-overlay-bg:#009966;
$primary-btn-clr:#009966;
$primary-link-clr:#009966;
$primary-hover-clr:#009966;
$xopus-border:#009966;
$xopus-clr:#009966;
$link-indication:#009966;
$header-link:#009966;

$hover:#008578;
$hover-bg:#008578;
$cards-modtab-bg:#008578;
$foreign-currency-clr:#008578;
$h-currency-bg:#008578;

$accounts-clr:#729f08;
$h-accounts-bg:#729f08;

$secondary-btn-clr:#d2d8e1;
$result-icon-clr:#d2d8e1;
$message-clr:#d2d8e1;
$secondary-btn-hover-clr:#d2d8e1;

$main-bg-clr:#eef1f5;

$default-border-clr:#d8dbde;

$select-color:#76767b;

$default-color:#252429;
$default-color-border:#252429;
$nav-hover-border:#008578;
$default-color-bg:#252429;
$default-clr-icon:#252429;

$xopus-table-bg:#f4f5f6;
$inactive-clr:#f4f5f6;
$component-bg:#f4f5f6;

$h-function-bg:#861a61;
$teaser-bg:#861a61;
$title-clr:#861a61;

$h-cards-bg:#009e83;
$cards-clr:#009e83;

$warning-clr:#f66900;
$information-clr:#138ee4;

$logout-icon-clr:#3a393e;

$function-modtab-bg:#6d1d52;
$accounts-modtab-bg:#5b7f06;
$tab-function-bg:#b0036c;

$input-txt-color:#186495;
$icon-color-m2:#186495;
$icon-color-ok:#138e57;

$margin-mod-bg:#fafbfc;

$icon-done-clr:#85b909;
$icon-teaser-clr:#d12668;

$highlight-clr:#186494;
$highlight-comp-bg:#e5e9ef;
$selection-bg:#b3d4fc;

$header-list-bg:#f4f4f4;
$teaser-hover-bg:#6e154f;
$xopus-ele-clr:#6e154f;

$accounts-hover-clr:#668F07;
$cards-hover-clr:#008E76;

$icon-twitter: #50a8f2;
$icon-facebook: #4454a1;
$icon-youtube: #be360e;
$link-title-clr:#959597;

$font-h1:36px;
$font-h2:28px;
$font-h3:20px;
$font-h4:18px;
$font-p:16px;

$space-large:30px;
$space-small:10px;
$space-error:12px;





