@import"partials/fonts";
@import"partials/font-icons";

/* Resets */
caption, th, td {
        text-align: left;
        font-weight: normal;
        vertical-align: middle;
}
button {
        border: 0;
}
.f_left {
        float: left;
}
.f_right {
        float: right;
}
::-moz-selection {
 background: #b3d4fc;
 text-shadow: none;
}
::selection {
        background: #b3d4fc;
        text-shadow: none;
}
 @-ms-viewport {
 width: device-width;
}
* {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0)!important;
        -ms-touch-action: none !important;
}
/* Body styles */
html, body, .wcm {
        width: 100%;
        height: 100%;
}
.easybanking {
        width: 100%;
        height: 100%;
        font-size: 0.875em;
        line-height: 1.35em;
        -webkit-user-select: none !important;
        -webkit-text-size-adjust: none;
        background: #eef1f5;
        font-family: 'BnppSans-l', sans-serif;
        color: #252429;
}
.easybanking .wrapper {
        width: 100%;
        height: 100%;
}
/** Standard UI Elements **/
/* Standard Btns */
.easybanking .bnppf_btn {
        font-size: 1.14em;
        font-family: 'BnppSans-r', sans-serif;
        line-height: 1em;
}
/* Standard Primary & Secondary Btns */
.easybanking .btn_primary {
        background: #009966;
        color: #ffffff;
}
.easybanking .btn_primary .icon-arrow-right {
        color: #ffffff;
        line-height: 13px;
}
.easybanking .btn_primary:hover {
        background: #008578;
}
.easybanking .btn_secondary {
        background: #d2d8e1;
}
.easybanking .btn_secondary:hover {
        background: #bec6d0;
}
/* standard Links Model */
.easybanking .lnk_primary {
        font-size: 1.2em;
        font-family: 'BnppSans-r', sans-serif;
        color: #009966;
}
.easybanking .lnk_primary:hover {
        color: #008578;
        text-decoration: underline;
}
/** Dropdown, Inputbox & Textarea **/
.easybanking .bnppf_input_field {
        border: 1px solid #d8dbde;
}
.easybanking .bnppf_dropdown_box, .easybanking .bnppf_input_field, .easybanking .bnppf_input_field input {
        font-family: inherit;
        -webkit-font-smoothing: inherit;
        color: #76767b;
        font-size: 16px;
        line-height: 22px;
}
/* Slectize dropdown select box with arrow down & Up */
.easybanking .bnppf_input_field.dropdown-active:after {
        border-color: transparent transparent #252429 transparent;
}
.easybanking .bnppf_input_field span {
        border-left: 1px solid #d8dbde;
        background: #ffffff;
}
/* Drop box */
.easybanking .bnppf_dropdown_box {
        background: #ffffff;
        border: 1px solid #d0d0d0;
        -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.easybanking .bnppf_dropdown_box [data-selectable] {
        border-bottom: 1px solid #d8dbde;
}
.easybanking .highlight {
        background: #f4f5f6;
        font-family: 'BnppSans-r', sans-serif;
}
.easybanking .dropdown_arrow {
        background: url(./images/dropdown_strip.png) no-repeat right center;
}
.easybanking .dropdown_arrow:after {
        border-color: #252429 transparent transparent transparent;
}
/* Drop box groups */
.easybanking .bnppf_dropdown_box .main-group {
        background: #f4f5f6;
        border-bottom: 1px solid #d8dbde;
}
.easybanking .optgroup-header {
        color: #76767b;
        border-bottom: 1px solid #d8dbde;
        font-size: 16px;
        font-family: 'BnppSans-l', sans-serif;
        text-transform: uppercase;
}
.easybanking .optgroup-iban {
        color: #009966;
        font-size: 14px;
        font-family: 'BnppSans-r', sans-serif;
        line-height: 18px;
}
.easybanking .optgroup-iban:hover {
        color: #008578;
        text-decoration: underline;
}
.easybanking .optgroup-amount {
        font-size: 14px;
        color: #76767b;
        line-height: 18px;
}
.easybanking .optgroup-amount .highlight {
        background: #ffffff;
        font-family: 'BnppSans-l', sans-serif;
}
.easybanking .optgroup-name {
        font-size: 14px;
        color: #76767b;
}
/* Text area */
.easybanking .bnppf_text_area textarea {
        border: 1px solid #ccc;
        font-size: 16px;
        color: #76767b;
}
.easybanking .bnppf_text_area textarea:focus {
        border-color: #ccc;
}
.easybanking .bnppf_text_area .text_count {
        color: #76767b;
}
/** SEPA Styles **/
/* SEPA Header */ 
.easybanking .bnppf_sendmoney {
        background: #ffffff;
}
.easybanking .bnppf_sendmoney_header {
        background: #861a61;
}
.easybanking .bnppf_sendmoney_header strong {
        font-size: 2.57em;
        text-transform: uppercase;
        color: white;
        line-height: 1.14em;
        font-weight: 100;
}
.easybanking .sepa_steps__digit li {
        color: #d12668;
        font-size: 1.42em;
        font-family: 'BnppSans-r', sans-serif;
        border: 2px solid #d12668;
}
.easybanking .sepa_steps__text li {
        color: #bec6d0;
        font-family: 'BnppSans-r', sans-serif;
        font-size: 1em;
}
.easybanking .sepa_steps__digit li.active_step_digit {
        color: #ffffff;
        border-color: #ffffff;
}
.easybanking .sepa_steps__text li.active_step_text {
        color: #ffffff;
}
/* Error messages styles */
.easybanking .field_error_message {
        color: #e53012;
        line-height: 13px;
        font-size: 1.14em;
}
.easybanking .field_error .bnppf_input_field, .easybanking .field_error .bnppf_text_area textarea {
        border: 1px solid #e53012;
}
.easybanking .message_field.field_error .bnppf_input_field:nth-child(1) {
        border: 1px solid #d8dbde;
}
/* SEPA Content */
.easybanking .bnppf_sendmoney_content__inner {
        border-bottom: 1px solid #d2d5da;
}
.easybanking .bnppf_sendmoney_content__inner h5 {
        font-weight: normal;
        font-family: 'BnppSans-l', sans-serif;
        font-size: 14px;
}
.easybanking .sepa_labels {
        font-family: 'BnppSans-r', sans-serif;
        font-size: 16px;
}
.easybanking .selected-item {
        color: #76767b;
        line-height: 1em;
}
.easybanking .amount_field .bnppf_input_field span {
        color: #76767b;
}
/** Confirm Screen **/
.easybanking .sepa_confirm_labels {
        font-family: 'BnppSans-r', sans-serif;
}
.easybanking .sepa_confirm_fields {
        font-size: 16px;
        border-bottom: 1px solid #d8dbde;
}
.easybanking .confirm_content p, .easybanking .confirm_content span {
        float: left;
        line-height: 22px;
}
/** Result screen **/
.border_none{ border:none !important;}
.sendmoney_result h2{ font-size:36px; display:inline-table; line-height:36px; font-weight:100;}
.sendmoney_result__info.bnppf_sendmoney_content__inner{ border:none;}
.sendmoney_result__info p{ font-size:16px; margin-top:4px;}
.sendmoney_result__content{ width:100%; display:inline-table;}
.sendmoney_result__content_inner{width:33.333333%; float:left;}
.result_content{ padding:14px 30px 14px 30px; text-align:center;border-right:1px dotted #d8dbde;}
.icon-personnage, .icon-send_money_icon{ font-size:60px; color:#d2d8e1; display:inline-block;}
.icon-circle_done{ font-size:30px; color:#85b909;position: relative;top: 3px;right: 13px;}
.resultfrom_info{ margin-top:25px; font-size:16px; line-height:26px;}
.resultfrom_info label{font-family: 'BnppSans-r', sans-serif; display:block;}
.result_btn.navigation_btns{ width:auto; float:right;}
.result_btn div:first-child{ margin-right:10px;}
.result_navigation{ display:inline-block; width:100%;}
/* action Icons */
.action_icons{ float:right;}
.action_icons__global{ border-left:1px dotted #d8dbde; font-size:22px; padding:0 16px 0 20px;}
.action_icons .action_icons__global:first-child{ border:none;}

/** Unknown **/
.eb_tabs{ width:100%;margin:0; padding:0; display:table;}
.eb_tabs .eb_tab_txt span{ text-decoration:none; color:#009966; padding:19px 20px 16px 20px; text-transform:uppercase; font-size:16px;text-align:center; display:block;}
.tab_fst{ margin-right:6px;}
.eb_tab_txt{ width:186px;border:1px solid #d2d8e1; float:left; cursor:pointer;border-bottom: none;}
.eb_tab_txt.active{ position:relative;top:1px; background:#ffffff; color:#252429;}
.eb_tab_txt.active span{ color:#242529;}
.tabs_eb_content_container{ float:left; width:100%;}
.eb_tab_content{border:1px solid #d2d8e1; }
.eb_tab_content__inner{ padding:20px 12px;}
.eb_unknown_content{ display:table; width:100%;}
.eb_unknown_input{ width:50%; float:left;}
.unknown_name{margin-right:8px;}
.unknown_iban{ margin-left:8px;}
.unknown_alias{ width:100%;}
.unknown_input input{ width:100%;}
.save_benefeciary{ padding: 10px 0;}
.save_benefeciary__text{ margin-left:4px; font-size:16px;}
.unknown_labels {font-family: 'BnppSans-l', sans-serif;font-size: 16px; padding-bottom:10px; display:block;}
 .info_message{ color:#ffffff; padding:15px; background:#138ee4; position: relative; }
  .info_message__text{ display:inline-block;width:95%;}
.icon-close{ float:right;width:2%; font-size:22px; cursor:pointer; line-height:13px;}
@media all and (max-width: 480px) {
        .eb_tab_txt{ width:138px;}
        .result_btn.navigation_btns{ width:100%;}
        .result_btn div:first-child{ margin-bottom:10px;}
        .result_btn div, .result_btn button{ width:100%;}
        .eb_tabs .eb_tab_txt span{ font-size:14px;}
}
@media all and (max-width: 767px) {
		.easybanking .bnppf_sendmoney_header strong {font-size: 18px;min-width: 106px;}
		.easybanking .sepa_steps__digit li {font-size: 14px;margin-left: 10px;padding: 8px 14px;}
        .sendmoney_result h2{ font-size:18px; line-height:18px;}
        .sendmoney_result__content_inner{ width:100%;}
        .result_content{ text-align:left; padding:12px 0; border-bottom:1px solid #d8dbde; border-right:none; width:100%; display:table;}
        .icon-personnage{ float:right; font-size:40px;}
        .icon-send_money_icon{ position:absolute; right:25px;font-size:40px;}
        .icon-circle_done{ float:right; font-size:25px; top:16px; right:0px;}
        .resultfrom_info{ margin:0; line-height:22px;}
        .resultfrom_info label{ width:25%; float:left;}
        .resultfrom_content{ width:55%; float:left;}
        .unknown_name, .unknown_iban{margin: 0;}
		.unknown_iban label{ padding-top:10px;}
        .eb_unknown_input{ width:100%;}
        .tab_fst{ margin-right:3px;}
}
@media print { .action_icons, .sepa_steps__digit{ display:none;}
.navigation_btns{ display:none;}
}