
/* Breakpoint 479 */
@media all and (max-width: 29.9375em) {
.identification_ucr .right_navigation_btn, .identification_contract .right_navigation_btn {
  width: auto;
}
  /* layout */
  .margin_col {
	  .ls-cmp-wrap {
			width: 100% !important;
			.iw_component{
				margin-top:1.25em !important;
			}
		}
    }
.margin_headline{ margin-top:1.25em !important;}
  
  /* Log out */
  #logoutMsg {
    width: 100%;
    border-bottom: none;
    margin-top: 20%;
    h1 {
      font-size: 1.12em;
      @include regular;
    }
  }
  
  /* Non 100% buttons */
  .zoomit_map .right_navigation_btn, .zoomit_map .right_navigation_btn button {
    width: auto;
   }
  /* Login buttons & text */
  .intermediate_btns .plain_text {
    width: 100%;
    display: block;
    margin: 0 0 0.5em 0;
  }
  /* Identification alignments */
  .authentication, .authentication__identification, .identification_contract, .authentication__details, .identification_ucr, .login_bg #metaInfo, .wcm-authentication {
  width: 18.75em !important;
}

.login_bg {
  .severity_message .alert_messages {
    width: 18.75em !important;
  }
  .alert_message_content {
    width: 80%;
    padding-right: 0.87em;
  }
}
  /* SEPA CT Form */
  .selected-item {
    font-size: 0.75em;
  } 
}

/* Breakpoints 480-640 */
@media all and (min-width: 30em) and (max-width: 40em) {
  /* Teaser with Link */
  .link_senstive {
    margin-left: 7.5em;
  }
  .margin_teaser_link {
    width: 7.5em;
    .module_icon {
      display: none;
    }
  }
}

/* Breakpoints 480-767 */
@media all and (min-width: 30em) and (max-width: 47.9375em) {
  /* Static pages */

.login_bg {
  .content_page {
    margin: 1.25em auto 1.87em;
  }
  .severity_message .alert_messages {
    width: 365px;
    margin: 1.25em auto 0 auto;
  }
}

/* Identification alignments */

.wcm-authentication, .login_bg #metaInfo {
  width: 22.812em;
  margin: 1.25em auto 0 auto;
}

/* Internal ad and headline */

.home .margin_col .ls-cmp-wrap {
  &:nth-child(odd) {
    padding-left: 0.31em;
    padding-right: 0.62em;
  }
  &:nth-child(even) {
    padding-right: 0.31em;
    padding-left: 0.62em;
  }
}

.margin_col .ls-cmp-wrap {
  &:nth-child(odd) {
    padding-right: 0.31em;
  }
  &:nth-child(even) {
    padding-left: 0.31em;
  }
}

/* Log out */

#logoutMsg {
  width: 100%;
  h1 {
    font-size: 1.125em;
    @include regular;
  }
}
}