@font-face {
	font-family: 'light';
	src: url("fonts/helloTypeLight.eot");
	src: url("fonts/helloTypeLight.eot?#iefix") format("eot"), url("fonts/helloTypeLight.woff") format("woff"), url("fonts/helloTypeLight.ttf") format("truetype"), url("fonts/helloTypeLight.svg#light") format("svg");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'regular';
	src: url("fonts/helloTypeReg.eot");
	src: url("fonts/helloTypeReg.eot?#iefix") format("eot"), url("fonts/helloTypeReg.woff") format("woff"), url("fonts/helloTypeReg.ttf") format("truetype"), url("fonts/helloTypeReg.svg#regular") format("svg");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'bold';
	src: url("fonts/helloTypeBold.eot");
	src: url("fonts/helloTypeBold.eot?#iefix") format("eot"), url("fonts/helloTypeBold.woff") format("woff"), url("fonts/helloTypeBold.ttf") format("truetype"), url("fonts/helloTypeBold.svg#regular") format("svg");
	font-style: normal;
	font-weight: normal;
}