@media all and (min-width: 320px) and (max-width: 1023px) {
  .wcm-faq {
    position: relative;
  }
  .widget {
    position: absolute !important;
    top: -1.188em !important;
    right: 0.625em !important;
    -moz-box-shadow: 0 10px 3px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    border-top: 3px solid #009966;
  }
  .service_col {
    position: absolute;
    right: 0;
  }
  .faq_pointer::after {
    position: absolute;
    top: -1.75em;
    display: block;
    width: 0;
    height: 0;
    border-bottom: 9px solid #008E76;
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;
    content: "";
    z-index: 999;
    margin-left: -0.25em;
  }
  .login_bg .widget {
    margin-top: -20px;
  }
}

@media all and (min-width: 320px) and (max-width: 479px) {
  .ucr_action_content {
    width: 75%;
  }
  .widget {
    right: 0px !important;
  }
  
  /* Static content pages Xopus */
	.table {
	  width: 18.75em;
	  overflow: scroll;
	  margin: auto;
	  table {
	    width: 37.50em;
	  }
	}
}

