@media all and (min-width: 768px) and (max-width: 1023px) {
  .content_wrapper {
    padding: 1.88em;
  }
  .user_message {
    padding: 1.08em 1.08em 0 1.08em;
  }
  .margin_col .ls-cmp-wrap {
    &:nth-child(odd) {
      padding-right: 0.31em;
    }
    &:nth-child(even) {
      padding-left: 0.313em;
    }
  }
  .service_navigation .ls-cmp-wrap:first-child {
    top: 5em;
  }
}

@media all and (max-width: 1023px) {
  /* Navigation Header */
  .site_header {
    height: 3.75em;
  }
  .site_header__inner {
    padding: 0.63em;
  }
  .brand_logo {
    width: 2.63em;
    height: 2.50em;
  }
  .menu_nav_small {
    display: block;
    cursor: pointer;
    margin-left: 1.11em;
    padding: 0.67em 0;
    font-size: 1.13em;
    text-transform: uppercase;
  }
  .navigation {
    position: absolute;
    top: 3.75em;
    left: 0;
    width: 100%;
    z-index: 9999;
    float: none;
    box-shadow: 0 4px 7px -6px black;
  }
  .navigation_inner {
    padding: 0 0.63em;
    background: $white-bg;
  }
  .navigation_control {
    width: 100%;
    padding: 0;
    display: none;
    position: relative;
    li {
      width: 100%;
      padding: 0.88em 0;
      border-top: 1px dotted #d2d8e1;
      border-left: none;
      &:nth-child(1) {
        border-top: 1px dotted #d2d8e1;
      }
      a {
        border: none;
        &:hover {
          border: none;
        }
        &.selected-page {
          color: $link-indication;
          border: none;
        }
      }
    }
  }
  .menu-show {
    .navigation_control {
      display: inline-block;
    }
    display: inline-block;
  }
  .menu_indicator {
    top: 0.22em;
    left: 3.67em;
  }
  /* layout */
  .content_col, .fluid {
    margin-right: 0;
  }
  .main_wrapper, .login_bg {
    padding-top: 3.75em;
  }
  .warning_area {
    top: 3.75em;
  }
  /* Margin modules alignment Layout */
  .margin_col {
    width: 100%;
    margin: 0;
    padding-top: 1.25em;
    .ls-cmp-wrap {
      width: 50%;
      float: left;
      position: relative;
    }
  }
  /* FAQ Widget */
  .service_col {
    top: 3.75em;
  }
  .wcm-faq {
    top: 1.88em;
  }
  .home .sticky_widget {
    top: -1.19em !important;
  }
}