
#metaInfo {
 	width: $info-width;
	margin: 0 auto;
 	color: unquote($white-clr);
	position: relative;
	background:#85b909;
	.level1 {
	 	padding:3em 0 1em 0; 
		width:30em; 
	 	margin:0 auto; 
		position:relative;
	}
	h3 {
		font-size: 1.56em;
		padding-bottom: 0.24em;
	}
	h1 {
		font-size: 2.88em;
	}
}

.hero_logo{ 
	background: none;
	-webkit-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
} 
