/* Intermediate screens*/ 

#security_msg {
	display: none;
 	width: $info-width;
	margin: 6.25em auto 0 auto;
	background: rgba(255, 255, 255, 0.3);
	padding: 1.87em;
	line-height: 1.5em;
}
.intermediate_messages {
 	width:$info-width;
	margin: 6.25em auto 3.75em auto;
}
.intermediate_content {
	padding: 1.88em;
	line-height: 1.5em;
	background: rgba(255, 255, 255, 0.3);
	h4 {
		 padding-bottom: 45px;
		 text-transform: uppercase;
		 font-size: 2.25em;
		 line-height: 1em;
	}
}
.intermediate_btns {
	width: $info-width;
	margin: 0 auto;
	padding: 1.87em 0;
	span {
		 padding: 9px 20px;
		 line-height: 1em;
	}
	.plain_text {
	 	color: unquote($white-clr);
		text-align: center;
		margin: 0 18px;
		display: inline;
		line-height: 20px;
		padding: 0;
	 	@include regular;
	}
}