.menu_navigation, .navigation{ 
	float:left;
}
.menu_nav_small{ 
	display:none; 
	cursor:pointer; 
	padding:14px;
	font-size:1.12em; 
	text-transform:uppercase; 
	float:left;
}
.navigation_inner{ 
	padding-top:1.125em;
}
.navigation_control{
	padding-left:3.75em;
	li{ 
		box-sizing:border-box; 
		float:left; 
		font-size:1.12em; 
		text-transform:uppercase; 
		padding:0 1.1em; 
		border-right:1px dotted $default-border-clr; 
		position: relative;
		.touch-button{ display:none;}
		a{ 
			position:relative;
			padding-bottom:1em; 
			z-index:2;
			&:hover{ 
				border-bottom:5px solid $hover;
				color:$hover;
		  }
		  &:last-child{ border:none;}
		}
		 ul{
			 position: absolute;
			 top: 40px;
			 left: 0;
			 background: #ffffff;
			 box-shadow: 0 3px 6px -1px $dropdown-shadow;
			 -webkit-box-shadow: 0 3px 6px -1px $dropdown-shadow;
			 -moz-box-shadow: 0 3px 6px -1px $dropdown-shadow;
			 padding: 16px 0 4px 0;
			 display:none;
			 li{
				 width: 100%;
				 border: none;
				 padding: 0 18px;
				 text-transform: capitalize;
				 white-space: nowrap;
				 a{ 
					 font-size:18px; 
					 display:block; 
					 padding:8px 0;
					 border-bottom:1px dotted $default-border-clr;
					 &:hover{ 
						 text-decoration:underline; 
						 border-bottom:1px dotted $default-border-clr;
					 }
				 }
				 &:last-child{ 
				 	a{
						border-bottom:none;
					}
				 }
				 > ul {
					 margin-left: 100%;
					 top: -10px;
					 box-shadow: 0 4px 6px -4px $dropdown-shadow;
					 -webkit-box-shadow: 0 4px 6px -4px $dropdown-shadow;
					 -moz-box-shadow: 0 4px 6px -4px $dropdown-shadow;
				 }
				 .touch-button {
					 position: absolute;
					 z-index: 999;
					 top: 6px;
					 right: 15px;
					 display: inline-block;
					 text-align: center; 
					 font-size:1em; 
					 color:$slevel-menu-icon;
				 }
			 }
		 }
	}
}
.indicator_icon{
	position:absolute; 
	top:-0.4em;
	color:$indicator-clr-icon; 
	right:-1.2em; 
	display:none;
}