@font-face {
	font-family: 'light';
	src: url("fonts/light.eot");
	src: url("fonts/light.eot?#iefix") format("eot"), url("fonts/light.woff") format("woff"), url("css/fonts/light.ttf") format("truetype"), url("fonts/light.svg#light") format("svg");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'regular';
	src: url("fonts/regular.eot");
	src: url("fonts/regular.eot?#iefix") format("eot"), url("fonts/regular.woff") format("woff"), url("fonts/regular.ttf") format("truetype"), url("fonts/regular.svg#regular") format("svg");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'bold';
	src: url("fonts/bold.eot");
	src: url("fonts/bold.eot?#iefix") format("eot"), url("fonts/bold.woff") format("woff"), url("fonts/bold.ttf") format("truetype"), url("fonts/bold.svg#bold") format("svg");
	font-style: normal;
	font-weight: normal;
}