#metaInfo {
 	width: $default-width;
	margin: 0 auto;
 	color: unquote($white-clr);
	position: relative;
	background:url('https://www.hellobank.be/images/default-source/background/home-page/hello-offer.jpg?sfvrsn=24');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 300px;
	.level1 {
	 	padding:11em 0 1em 0; 
		width:30em; 
	 	margin:0 auto; 
		position: absolute;
		text-align: center;
		width: 100%;
		bottom: 0;
		background: url('images/hello_logo.png') no-repeat;
		background-size: 110px 120px;
		background-position: center -78px;
		background-position: center 9px;
	}
	h3 {
		font-size: 1.56em;
		padding-bottom: 0.24em;
	}
	h1 {
		font-size: 1.88em; 
		padding-bottom:0.3em;
	}
}

