.site_logotype {
	float: left;
	width: $logo-width;
	height: $logo-parent-height;
}
.brand_logo, #brandLogo {
	background: url(images/sprite.svg) no-repeat;
	background-position: $logo-position;
	width: $logo-width;
	height: $logo-height;
	display: block;
	position:absolute;
}
.no-svg {
	 .brand_logo, #brandLogo {
		 background: url(images/sprite.png) no-repeat;
		 background-position: $logo-position;
	}
}

// Public Navigation links

.nav_lnks{ 
	float:left; font-size:0.75em; margin:2em 0 0 1.87em;
 	a{ 
		padding:0 0.75em; border-right:1px dotted $default-border-clr; color:$nav-links-clr;
		&:hover{ text-decoration:underline;}
		&:last-child{ border:0;}
	}
}

// 1023

@media all and (max-width: 63.9375em) {
	.site_logotype {
		width: $logo-small-width;
		height: $logo-small-height;
	}
	.brand_logo, #brandLogo {
		width: $logo-small-width;
		height: $logo-small-height;
	}
	#webbankingAuthenticated{
		.brand_logo, #brandLogo{
			pointer-events:none;
		}
	}
}