.default_tab {
	 .eb_tab_txt__inner:hover {
		text-decoration: underline;
	}
	 &.active .eb_tab_txt__inner:hover {
	 	text-decoration: none;
	}
}
.eb_tabs {
	margin: 0;
	padding: 0;
	display: table;
	border-spacing: 0.3em 0;
	position: relative;
	left: -0.2em;
}
.eb_tab_txt {
	min-width: 6.25em;
	cursor: pointer;
	border-bottom: none;
	min-height: 3.25em;
	display: table-cell;
	vertical-align: middle;
	max-width: 10.31em;
	@include border-radius-all($glb-tleft-radius,$glb-tright-radius,0,0);
}
.eb_tab_txt__inner {
	text-decoration: none;
	padding: 1.19em 1.25em 1em 1.25em;
	font-size: 1em;
	display: block;
	span {
	 	display: inline-block;
	}
}
.eb_tab_txt.active span {
 	color: $default-color;
}
.tabs_eb_content_container {
	float: left;
 	width: $default-width;
}

// Tab Theme and Active

.eb_tab_txt.active {
	position: relative;
	top: 0.06em;
 	background: unquote($white-bg);
 	color: $default-color;
}

// Tabs Themes 

.default_tab {
	border: 1px solid #d2d8e1;
 	color: $link-indication;
	border-bottom: none;
}
.accounts_module_tab {
 	background: $accounts-modtab-bg;
 	color: unquote($white-clr);
	@include regular;
}
.cards_module_tab {
 	background: $cards-modtab-bg;
 	color: unquote($white-clr);
	font-weight: 600;
}
.functions_module_tab {
 	background: $function-modtab-bg;
 	color: unquote($white-clr);
	font-weight: 600;
}

// 767px breakpoint

@media all and (max-width: 47.9375em) {
 .tab_fst {
        margin-right: 0.19em;
    }
}